@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <img class="logo" src="@Url.Content("~/content/Logo.png")" alt="Contoso University" />
    @*<img src="@Url.Content("~/content/ContosoUniversity.jpg")" alt="College Picture"/>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is an online university that was 
            literally made to steal money from students 
            who don't know any better. I'm not even kidding this 
            business is just a front for laundering money.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Classes we offer</h2>
        <p>We offer a range of classes that really wont help you in the long run, so you probably shouldn't sign up for any. But here they are anyway.</p>
      <p><a class="btn btn-default" asp-area="" asp-controller="Cources" asp-action="Index">See our course List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Definitly a great staff</h2>
        <p>Our staff is <i>really</i> intellegent, and 
           will totally know the answers to any question 
           you might have. They have all been given google, 
           A recent copy of the Encylopida Britannica, and a 
           1 year subscription to Curiosity Stream. Hopefully 
           its good enough.</p>
      <p><a class="btn btn-default" asp-area="" asp-controller="Cources" asp-action="Index">See our staff &raquo;</a></p>
    </div>
</div>