html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  
}

body {
  margin-bottom: 60px;
  font-family: 'Franklin Gothic Medium';
}

.jumbotron {
   margin: auto;
   width: 100%;
   background-color: lightgrey;
   padding: 10px;
   text-align: center;
   background-image: url("/content/ContosoUniversity.jpg");
   background-repeat: no-repeat;
   background-position: center -1300px;
   margin-bottom: 20px;
}

.logo {
   width: 60%;
   padding-top: 50px;
   padding-bottom: 200px;
}

.navbar 
{
   background-color: lightblue;
}